// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #083d77;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

$gray: rgb(58, 58, 58);
$light-gray: rgb(255, 255, 255);

$first: #f4d35e;
$danger: #f95738;
$secondary: #083d77;

