.my-container {
  margin-top: 40px;
  padding-top: 50px;
  height: 100vh;
  
}

#white-title{
  color: $light-gray;
  font-size: 60px;
}


#image-home-page{
  background-image: url("https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  margin: 0px;
}

.my-container h1 {
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.my-container p {
  font-size: 20px;
}



ul {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

li {
  display: inline;
  margin-right: 50px;

  font-size: 35px;

  color: $light-gray;
  text-decoration: none;
}

  #btn-home-page{
    background-color: $secondary;
    padding: 30px;

    border-radius: 2px;
  }
  #btn-home-page:hover{
    opacity: 0.9;
  }


  #btn-home-page a{
    color: $light-gray;
    font-size: 35px;
    
  }

  #btn-home-page a:hover{
    color: $light-gray;
    text-decoration: none;
  }

