<div class="my-container">

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Discover all our great vinyls and book your favourites!</h1>
      </div>
    </div>

      <div class="cards">
        <% @vinyls.each do |vinyl| %>
          <div class="album-card-minimal">
            <div class="album-card-minimal-cover" style="background-image: url('<%= cl_image_path vinyl.photo.key %>')"></div>
            <div class="album-card-minimal-details">
              <h4><%= link_to vinyl.title, vinyl_path(vinyl)%></h4>
              <h4><%= vinyl.artist %></h4>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
