<h1>Album card</h1>

<div class="album-card">
  <div class="album-card-cover" style="background-image: url('https://images.genius.com/0327e4a856f14b2430e6e1a9333b1f1f.1000x1000x1.jpg')">
  </div>
  <div class="album-card-details">
    <div class="album-info-container">
      <div class="album-title-container">
        <h2>CIRCLES</h2>
        <h3>Mac Miller</h3>
        <h4>2018</h4>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ipsa, hic obcaecati est repellendus dolorem a culpa.</p>
      <hr>
      <a class="button first full-width" href="#">Book now</a>
    </div>
  </div>
</div>

<hr>

<div class="album-card-minimal">
  <div class="album-card-minimal-cover" style="background-image: url('https://images.genius.com/0327e4a856f14b2430e6e1a9333b1f1f.1000x1000x1.jpg')">
  </div>
  <div class="album-card-minimal-details">
    <h4>CIRCLES</h4>
    <h4>Mac Miller</h4>
  </div>
</div>

<hr>


<div class="cards">

<div class="album-card-minimal">
  <div class="album-card-minimal-cover" style="background-image: url('https://images.genius.com/0327e4a856f14b2430e6e1a9333b1f1f.1000x1000x1.jpg')">
  </div>
  <div class="album-card-minimal-details">
    <h4>CIRCLES</h4>
    <h4>Mac Miller</h4>
  </div>
</div>

<div class="album-card-minimal">
  <div class="album-card-minimal-cover" style="background-image: url('https://images.prismic.io/milanote/df7eeb83a07162b45ac2e882cac055de9411054a_cover.jpg?auto=compress,format')">
  </div>
  <div class="album-card-minimal-details">
    <h4>CIRCLES</h4>
    <h4>Mac Miller</h4>
  </div>
</div>

<div class="album-card-minimal">
  <div class="album-card-minimal-cover" style="background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/album-cover-flyer-template-eb6c11e2b47691830314a904750117da_screen.jpg?ts=1561428108')">
  </div>
  <div class="album-card-minimal-details">
    <h4>CIRCLES</h4>
    <h4>Mac Miller</h4>
  </div>
</div>

<div class="album-card-minimal">
  <div class="album-card-minimal-cover" style="background-image: url('https://glide-media-cloud.s3-accelerate.amazonaws.com/2013/10/Queen-The-Miracle.jpg')">
  </div>
  <div class="album-card-minimal-details">
    <h4>CIRCLES</h4>
    <h4>Mac Miller</h4>
  </div>
</div>

<div class="album-card-minimal">
  <div class="album-card-minimal-cover" style="background-image: url('https://images.contentstack.io/v3/assets/blt1b60905dd65bfb9b/blt80a8566858006ad6/5b0661d2ff49f05073ace12b/khalid-american-teen-album-cover.jpg')">
  </div>
  <div class="album-card-minimal-details">
    <h4>CIRCLES</h4>
    <h4>Mac Miller</h4>
  </div>
</div>

<div class="album-card-minimal">
  <div class="album-card-minimal-cover" style="background-image: url('https://66.media.tumblr.com/d516373cd43de91f5f3f7ffdf7ee6a6f/tumblr_oq7sziXtgt1uj757co1_500.jpg')">
  </div>
  <div class="album-card-minimal-details">
    <h4>CIRCLES</h4>
    <h4>Mac Miller</h4>
  </div>
</div>

<div class="album-card-minimal">
  <div class="album-card-minimal-cover" style="background-image: url('https://www.radar.st/wp-content/uploads/2018/08/fifou-pochette-album-cover-rap-spri-noir.jpg')">
  </div>
  <div class="album-card-minimal-details">
    <h4>CIRCLES</h4>
    <h4>Mac Miller</h4>
  </div>
</div>

<div class="album-card-minimal">
  <div class="album-card-minimal-cover" style="background-image: url('https://images.genius.com/0327e4a856f14b2430e6e1a9333b1f1f.1000x1000x1.jpg')">
  </div>
  <div class="album-card-minimal-details">
    <h4>CIRCLES</h4>
    <h4>Mac Miller</h4>
  </div>
</div>
  
</div>