<div class="my-container">

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>What if there was a place where you could find all the vinyls you liked
        as a teenager?</h1>
        <ul>
          <li>
            <i class="fas fa-search"></i>
            Search for a vinyl
          </li>
          <li>
            <i class="fas fa-bullseye"></i>
            Find it
          </li>
          <li>
            <i class="fas fa-user-friends"></i>
            Meet with a lender
          </li>
        </ul>
        <div class="col d-flex search-box">
          <input class="mr-5" type="text" placeholder="Search..">
          <a class="button first ml-10" href="#">search</a>
        </div>
      </div>
    </div>

      <div class="cards">

        <div class="album-card-minimal">
        <div class="album-card-minimal-cover" style="background-image: url('https://images.genius.com/0327e4a856f14b2430e6e1a9333b1f1f.1000x1000x1.jpg')">
        </div>
        <div class="album-card-minimal-details">
            <h4>CIRCLES</h4>
            <h4>Mac Miller</h4>
        </div>
        </div>

        <div class="album-card-minimal">
        <div class="album-card-minimal-cover" style="background-image: url('https://images.prismic.io/milanote/df7eeb83a07162b45ac2e882cac055de9411054a_cover.jpg?auto=compress,format')">
        </div>
        <div class="album-card-minimal-details">
            <h4>CIRCLES</h4>
            <h4>Mac Miller</h4>
        </div>
        </div>

        <div class="album-card-minimal">
        <div class="album-card-minimal-cover" style="background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/album-cover-flyer-template-eb6c11e2b47691830314a904750117da_screen.jpg?ts=1561428108')">
        </div>
        <div class="album-card-minimal-details">
            <h4>CIRCLES</h4>
            <h4>Mac Miller</h4>
        </div>
        </div>

        <div class="album-card-minimal">
        <div class="album-card-minimal-cover" style="background-image: url('https://glide-media-cloud.s3-accelerate.amazonaws.com/2013/10/Queen-The-Miracle.jpg')">
        </div>
        <div class="album-card-minimal-details">
            <h4>CIRCLES</h4>
            <h4>Mac Miller</h4>
        </div>
        </div>

        <div class="album-card-minimal">
        <div class="album-card-minimal-cover" style="background-image: url('https://images.contentstack.io/v3/assets/blt1b60905dd65bfb9b/blt80a8566858006ad6/5b0661d2ff49f05073ace12b/khalid-american-teen-album-cover.jpg')">
        </div>
        <div class="album-card-minimal-details">
            <h4>CIRCLES</h4>
            <h4>Mac Miller</h4>
        </div>
        </div>

        <div class="album-card-minimal">
        <div class="album-card-minimal-cover" style="background-image: url('https://66.media.tumblr.com/d516373cd43de91f5f3f7ffdf7ee6a6f/tumblr_oq7sziXtgt1uj757co1_500.jpg')">
        </div>
        <div class="album-card-minimal-details">
            <h4>CIRCLES</h4>
            <h4>Mac Miller</h4>
        </div>
        </div>

        <div class="album-card-minimal">
        <div class="album-card-minimal-cover" style="background-image: url('https://www.radar.st/wp-content/uploads/2018/08/fifou-pochette-album-cover-rap-spri-noir.jpg')">
        </div>
        <div class="album-card-minimal-details">
            <h4>CIRCLES</h4>
            <h4>Mac Miller</h4>
        </div>
        </div>

        <div class="album-card-minimal">
        <div class="album-card-minimal-cover" style="background-image: url('https://images.genius.com/0327e4a856f14b2430e6e1a9333b1f1f.1000x1000x1.jpg')">
        </div>
        <div class="album-card-minimal-details">
            <h4>CIRCLES</h4>
            <h4>Mac Miller</h4>
        </div>
        </div>
        
      </div>

  </div>

</div>


