<div id="image-home-page" class="my-container d-flex align-items-center">
  <div class="container d-flex align-ims-center">
    <div class="d-flex flex-column align-items-center">
      <h1 id="home-title">What if there was a place where you could rent any vinyl?</h1>
        <%= link_to 'Browse all vinyls', vinyls_path, class:"button secondary", id:"btn-home-page" %>
    </div>
  </div>
</div>
