<div id="image-home-page" class="my-container">
  <div id="structure-home-page" class="container d-flex flex-column align-items-center">
    <h1 id="white-title">What if there was a place where you could find all the vinyls you liked as a teenager?</h1>
    <ul id="btn-home-page">
      <li>
          <i class="fas fa-search"></i>
          <%= link_to 'Browse all vinyls', vinyls_path %>
      </li>
    </ul>
  </div>
</div>


