
<div id="image-home-page" class="my-container d-flex align-items-center">
  <div class="container d-flex align-ims-center">
    <div class="d-flex flex-column align-items-center"> 
      <h1>What if there was a place where you could find all the vinyls you liked as a teenager?</h1>
      <ul>
        <li id="btn-home-page">
          <%= link_to 'Browse all vinyls', vinyls_path%>
        </li>
      </ul>
    </div>
  </div>
</div>
 