
  <div id="image-home-page" class="my-container">

    <div class="container">
      <div class="row">
        <div id="home-page-structure" class="flex-column bd-highlight mb-3">
          
          <h1 class="p-2 bd-highlight">What if there was a place where you could find all the vinyls you liked
          as a teenager?</h1>
          <ul class="p-2 bd-highlight">
            <li  id="btn-home-page" class= "">
              <i class="fas fa-search"></i>
              <%= link_to 'Browse all vinyls', vinyls_path %>
            </li>
            <li>
              <i class="fas fa-bullseye"></i>
              Find it
            </li>
            <li>
              <i class="fas fa-user-friends"></i>
              Meet with a lender
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
 