.album-card {
  display: flex;
  width: 100%;
  color: rgba($color: #000000, $alpha: 0.8);
  margin-top: 30px;
  margin-bottom: 30px;

  img {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    width: 500;
  }
}

.album-card-cover {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.album-card-details {
//   height: 100%;
  width: 100%;
  background-color: white;
  padding: 40px;
  border: 3px solid $first;
  margin-left: 10px;
}

.album-title-container {
  text-align: center;
  margin-bottom: 20px;
}

.album-info-container {
  text-align: center;
}

.full-width {
  width: 100%;
  display:block;
  text-align: center;
}

.album-card h2 {
  font-weight: 400;
  font-size: 42px;
}

.album-card h3 {
  font-weight: 200;
  font-size: 32px;
}

.album-card h4 {
  font-size: 24px;
}

.album-card p {
  font-size: 14px;
  font-weight: 100;
  padding-top: 10px;
}

.album-card-minimal {
  width: 200px;
  color: rgba($color: #000000, $alpha: 0.8);
  margin: 15px 15px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.album-card-minimal-cover {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.album-card-minimal-details {
  padding: 10px;
  background-color: white;
  text-align: center;
  height: 100px;
  align-items: center;
  display: grid;
}

.album-card-minimal-details-dashboard {
  padding: 10px;
  background-color: white;
  text-align: center;
  align-items: center;
  display: grid;
}

.album-card-minimal h4 {
  font-size: 16px;
}

.cards {
  display: flex;
  margin: 50px 0px;
  flex-wrap: wrap;
  justify-content: center;

  a {
    text-decoration: none;
  }
    a:hover {
      outline: 1.5px solid #F4D35E;
    }
}











