.form-container {
  display: flex;
  text-align: start;
  background-color: white;
<<<<<<< HEAD
  width: 100%;
  padding: 0px 20px 20px 20px;
=======
  justify-content: center;
>>>>>>> master
}

form {
  width: 100%;
}

.form-container input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 2px;
    padding: 10px;
    font-size: 14px;
    font-family: inherit;
    font-weight: 100;
    line-height: 1.5;
    color: inherit;
    outline: none;
    transition: 0.2s;
    &::placeholder { 
        color: hsla(0, 0%, 100%, 0.5);
    }
}

.form-container label {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 0;
}

#submit {
  border-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
